### Nginx fastcgi cache
#
  fastcgi_cache_path {{ fastcgi_cache_path }} levels={{ fastcgi_cache_levels }} keys_zone={{ fastcgi_keys_zone }} inactive={{ fastcgi_inactive }};
  fastcgi_cache_key "{{ fastcgi_cache_key }}";
  fastcgi_cache_use_stale {{ fastcgi_cache_use_stale }};
  fastcgi_ignore_headers {{ fastcgi_ignore_headers }};
  fastcgi_intercept_errors {{ fastcgi_intercept_errors }};
